<% cache ['v1'] do %>
	<nav class="navbar navbar-inverse navbar-fixed-top" id="mainNav">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="/img/cog/logo.gif" class="img-responsive" alt="" width="100px" height="50px"></a>
				<ul class="nav navbar-nav">
					<li><a href="/blog">Blog</a></li>
				</ul>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#features">Features</a></li>
					<li><a href="#companies">Partners</a></li>
					<li><a href="#demo">Demo</a></li>
					<li><a href="#case_studies">Case Studies</a></li>
					<li><a href="#about">Cogcentric Labs</a></li>
					<li><a href="#contact">Get Started</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<header>
		<div class="header-content">
			<h1 style="font-size: 8em">Fabric</h1>
			<h2 style="font-weight: 300"><%= @content['tagline'] %></h2>
			<a href="#contact" class="btn btn-primary">Get Fabric</a>
		</div>
	</header>

	<%= render 'main/sections/features' %>
	<%= render 'main/sections/companies' %>
	<%= render 'main/sections/demo' %>
	<%= render 'main/sections/case_studies' %>
	<%= render 'main/sections/about' %>
	<%= render 'main/sections/contact' %>

	<script>
		new WOW().init()
		$('main').scrollspy({ target: '#mainNav' })
		$("#mainNav li a[href^='#']").on('click', function(event) {
			var target;
			target = this.hash;

			event.preventDefault();

			var navOffset;
			navOffset = $('#navbar').height();

			return $('html, body').animate({
				scrollTop: $(this.hash).offset().top - navOffset
			}, 300, function() {
				return window.history.pushState(null, null, target);
			});
		});
	</script>
<% end %>