<section class="no-padding" id="portfolio">
	<div class="container-fluid">
		<div class="row no-gutter">

			<% case_studies.each do |study| %>
				<div class="col-lg-4 col-sm-6">
					<a href="" data-toggle="modal" data-target="#<%= study['target'] %>" class="portfolio-box">
						<img src="<%= study['image'] %>" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									<%= study['category'] %>
								</div>
								<div class="project-name">
									<%= study['name'] %>
								</div>
							</div>
						</div>
					</a>
				</div>
			<% end %>

		</div>
	</div>
</section>

<% case_studies.each do |study| %>
	<div class="modal fade" id="<%= study['target'] %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button style="font-size: 50 px" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h1 class="modal-title"><%= study['name'] %></h1>
				</div>
				<div class="modal-body">
					<img src="<%= study['hero'] %>" class="img-responsive" alt="">
					<div>
						<%=raw RDiscount.new(study['content']).to_html %>
					</div>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
<% end %>